<form method="post" action="{{ path('tva_delete', {'id': tva.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tva.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
