{% extends 'base.html.twig' %}

{% block title %}Edit Tva{% endblock %}

{% block body %}
    <div class="container">
    <h1 style="text-align: center">Modifier le Tva</h1>

    {{ include('tva/_form.html.twig', {'button_label': 'Mise a jour'}) }}

    <a class="btn mb-1 btn-secondary" href="{{ path('tva_index') }}">Retour a la liste</a>


    {{ include('tva/_delete_form.html.twig') }}
    </div>
{% endblock %}
