{% extends 'base.html.twig' %}

{% block title %}New Tva{% endblock %}

{% block body %}
<div class="container">
  <h1>Create new Tva</h1>

    {{ include('tva/_form.html.twig') }}

    <a href="{{ path('tva_index') }}">back to list</a>
</div>
  
{% endblock %}
